<div class="jumbotron center">
  <p><%= link_to "Enter Results", new_result_path, class: "btn btn-lg pull-left" %></p>
  <br> <br>
  <p><%= link_to "Display Stats", users_path, class: "btn btn-lg pull-left" %></p>
</div>
