<div class="jumbotron center">
  <p><%= link_to "Enter Results", new_result_path, class: "btn btn-danger btn-lg btn-xlarge pull-right" %></p>
  <br> <br>
  <p><%= link_to "Display Stats", users_path, class: "btn btn-danger btn-lg btn-xlarge pull-right" %></p>
</div>
