<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @result.score %>
</p>

<p>
  <strong>Win loose tie:</strong>
  <%= @result.win.name %>
</p>


<p> <%= link_to 'Edit', edit_result_path(@result) %> </p>

